.ContainerAbout{
    max-width: 900px;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.innerMobile{
    display: flex;
    
}
.ItemAbout{
    min-width: 170px;
    min-height: 200px;
    padding: 14px;
   
}



.carrosel{
    cursor: grab;
    overflow: hidden;
    
}
