.ql-toolbar .ql-active svg {
    fill: red !important;
  }

  .ql-toolbar svg {
    fill: green !important;
  }

  .ql-font-roboto {
      
    font-family: 'Satoshi';
  }
  .ql-container {
    border-left: 1px solid red;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
  }