/*$optionDefaultColours: #ED5565, #FC6E51, #FFCE54, #2ECC71, #5D9CEC, #AC92EC;*/

.credit {
    position: absolute;
    bottom: 20px;
    left: 20px;

    color: inherit;
}

.options {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;

    min-width: 600px;
    max-width: 100%;
    width: calc(100% - 100px);

    height: 400px;

    @for $i from 1 through 4 {
        @media screen and (max-width:798px - $i*80) {
            min-width: 600px - $i*80;

            .option:nth-child(#{6-$i}) {
                display: none;
            }
        }
    }

}



.option {
    position: relative;
    overflow: hidden;

    min-width: 140px;
    
    max-width: 150;
    margin: 10px;
    border:0px solid --defaultColor;
    border-radius: 2px;
  
    background-size: auto 120%;
    background-position: center;

    cursor: pointer;

    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);

   
}

/**
*
*
**/

@for $i from 1 through length($optionDefaultColours) {
    &:nth-child(#{$i}) {
        --defaultBackground:#{nth($optionDefaultColours, $i)};
    }
}

.option .active {
    flex-grow: 10000;
    transform: scale(1);

    max-width: 600px;
    margin: 0px;
    border-radius: 40px;
    
    background-size: auto 1%;

    

    /*&:active {
       transform:scale(0.9);
    }*/
}
.shadow {
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}

.label {
    bottom: 20px;
    left: 20px;


}

.option:not(.active) {
    flex-grow: 1;

    border-radius: 12px;

    
}
.shadow {
    bottom: -40px;
    box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}

.label {
    bottom: 10px;
    left: 10px;

    
}

.shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;

    height: 120px;

    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.label {
    display: flex;
    position: absolute;
    right: 0px;

    height: 40px;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);

  
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;

    background-color: white;
    color: black;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-left: 10px;

    color: white;

    white-space: pre;

   
}
.option.active .info{
    display: none;
}



.main {
    font-weight: bold;
    font-size: 1.2rem;
}

.sub {
    transition-delay: .1s;
}