
  .test{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    list-style: none;
    -moz-transition: 0.8s ease-in; 
    -o-transition: 0.8s ease-in;
    -webkit-transition: 0.3s ease-in !important;
    -moz-transition: 0.3s ease-in !important;
    -o-transition: 0.3s ease-in !important;
    transition: 0.3s ease-in !important;
  }
  

  
  .SlideNav{
    list-style: none;
    display: flex;
    justify-content: center;
    -moz-transition: 0.8s ease-in; 
    -o-transition: 0.8s ease-in;
    -webkit-transition: 0.3s ease-in !important;
    -moz-transition: 0.3s ease-in !important;
    -o-transition: 0.3s ease-in !important;
    transition: 0.3s ease-in !important;

  }

  
  li {
    list-style: none;
    -webkit-transition: 0.3s ease-in !important;
    -moz-transition: 0.3s ease-in !important;
    -o-transition: 0.3s ease-in !important;
    transition: 0.3s ease-in !important;
  }
  
  .btn{
    padding: 1rem;
    cursor: pointer;
    -moz-transition: 0.8s ease-in; 
    -o-transition: 0.8s ease-in;
    -webkit-transition: 0.3s ease-in !important;
    -moz-transition: 0.3s ease-in !important;
    -o-transition: 0.3s ease-in !important;
    transition: 0.3s ease-in !important;
  }
  
  .bullet{
    width: 12px;
    height: 12px;
    background: lightgray;
    border-radius: 100px;
    -moz-transition: 0.5s ease-in; 
    -o-transition: 0.5s ease-in;
    -webkit-transition: 0.2s ease-in !important;
    -moz-transition: 0.2s ease-in !important;
    -o-transition: 0.2s ease-in !important;
    transition: 0.2s ease-in !important;
  }
  
  .bulletActive{
    width: 15px;
    height: 15px;
    background: rgb(158, 128, 240);
    border-radius: 100px;
    -moz-transition: 0.8s ease-in; 
    -o-transition: 0.8s ease-in;
    -webkit-transition: 0.3s ease-in !important;
    -moz-transition: 0.3s ease-in !important;
    -o-transition: 0.3s ease-in !important;
    transition: 0.3s ease-in !important;
  }
  .bullet:hover{
    background: rgb(158, 128, 240);
  }
  .isActive{
    color: red;
    -moz-transition: 0.8s ease-in; 
    -o-transition: 0.8s ease-in;
    -webkit-transition: 0.3s ease-in !important;
    -moz-transition: 0.3s ease-in !important;
    -o-transition: 0.3s ease-in !important;
    transition: 0.3s ease-in !important;
  }


  .slider_item-detail h1 {
    font-size: 10rem;
    width: 95%;
    font-size: 8rem;
    font-weight: 700;
    text-align: left;
    letter-spacing: -5;
    line-height: 1;

  }
  
  .slider_item-detail p {
    margin: 45px 0;
    max-width: 500px;
    font-size: 1rem;
    text-align: left;
    letter-spacing: -5;
    line-height: 1.5;
  }
  
  .slider_call-btn {
    display: inline-block;
    padding: 8px 20px;
    background-color: #edb040;
    color: #fefdfd;
    border-radius: 20px;
  }
  
  
  